*{
    margin: 0;
    
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;

}
.br a{
    text-decoration: none;
    color: black;
    padding: 8px 15px;
}
.project a{
   text-decoration: none;
   color: black;
   padding: 8px 15px;
}
.project a:hover{
    background-color: lightgray;

}
.br a:hover{
    background-color: lightgray;

}
img{
    width: 100%;
}
.maincontainer{
    display: flex;
    justify-content: space-around;
}
.surat img{
    width: 350px;
}